.app__icon{
    width: 20px;
    margin-bottom: 30px !important;
    margin: 10px;
    cursor: pointer;
}

.google__icons{
    position: absolute;
    top: 130px;
    display: flex;
    flex-direction: column;
    right: 10px;
}


@media screen and (max-width:571px) {
    .google__icons{
        display: none;
    }
}